* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}
html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: green;
}

.container {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  width: 400px;
  height: 700px;
  background-color: rgba(255, 255, 255);
}

.card-container i {
  font-size: 52px;
}

.card-header {
  height: 20%;
}

.card-header i {
  margin: 20px 0 0 20px;
}

.card-body {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body p {
  font-size: 120px;
}

.card-footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 20%;
}

.card-footer i {
  transform: rotate(180deg);
  margin: 0 20px 20px 0;
}
